@import "../../styles/Mixins";
@import "../../styles/Variables";

.motivation__container {
  background-color: $bg-color;
  padding: 24px 24px 100px 24px;
  width: 100%;
  height: 100vh;

  @include flexbox(flex-start, center, column, nowrap, 12px);
}
