@use "../../../../styles/Mixins" as *;

.entry-card__container {
  max-width: 350px;
  @include size(100%, 90px);
  @include other-card-properties;
  @include flexbox(space-between, center, row, nowrap, 12px);
}

// Tipografía
.entry-card__text-container {
  @include size(100%, auto);
}

.entry-card__date {
  text-transform: uppercase;
  font-size: var(--font-size-xsmall-app);
  font-weight: var(--font-weight-regular);
}

.entry-card__text {
  font-size: var(--font-size-big-app);
  font-weight: var(--font-weight-bold);
  line-height: 25px;
}

// Imágenes
.entry-card__image {
  @include size(50px, 50px);
}

.entry-card__icons {
  display: flex;
  justify-content: center;
  gap: 6px;

  .star-icon {
    cursor: pointer;
    transition: color 0.3s;

    &.favorite {
      color: var(--secondary-color);
    }
  }
}
