@import "../../../../styles/Mixins";

.form-group {
  @include flex-column-left();

  &:has(input:focus) {
    .form-label {
      color: var(--primary-color);
    }

    .form-input {
      border-color: var(--primary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }
}

// Pendiente reubicar (?)
.form-label {
  margin-bottom: var(--margin-regular);
  color: var(--black-color);
  font-size: var(--font-size-small-app);
  font-weight: var(--font-weight-bold);

  @include tablet {
    font-size: 12px;
  }
}

// Campo de entrada
.form-input {
  background-color: transparent;
  margin-bottom: var(--margin-regular);
  @include size(380px, 50px);
  @include input-border;

  &::placeholder {
    color: var(--black-color);
    font-size: var(--font-size-small-app);
    font-weight: var(--font-weight-regular);

    @include tablet {
      font-size: 12px;
    }
  }

  // Dispositivos
  @include desktop {
    @include size(320px, 48px);
  }

  @include tablet {
    @include size(305px, 40px);
    font-size: 12px;
    margin-bottom: 6px;
  }

  @include mobile {
    max-width: 305px;
  }
}
