@import "../../../../styles/Mixins";

.form-group {
  @include flex-column-left(6px);

  &:has(input:focus) {
    .form-label {
      color: var(--primary-color);
    }

    .form-input {
      border-color: var(--primary-color);

      &::placeholder {
        color: var(--primary-color);
      }
    }
  }
}

// Pendiente reubicar (?)
.form-label {
  margin-bottom: var(--margin-regular);
  @include font-small-black(var(--font-weight-bold));
}

.form-input {
  margin-bottom: var(--margin-regular);
  @include size(380px, 50px);
  @include input-border;

  &::placeholder {
    @include font-small-black();
  }
}
