@import "../../styles/Mixins";

.entries__page {
  background-color: var(--bg-color);
  padding: var(--padding-views);
  @include size();
  @include flexbox(flex-start, center, column, nowrap, 12px);
}

// Empezar quiz
.start-quiz {
  width: 100%;
  max-width: 350px;
  padding: var(--padding-24);
  border-radius: var(--border-radius-general);
  box-shadow: var(--box-shadow-general);
  background-color: var(--primary-color);
  color: var(--white-color);
  @include flexbox(flex-start, center, row, nowrap, 12px);

  span {
    font-size: 36px;
  }

  p {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
  }
}

// Entradas
.entries__container {
  background-color: var(--bg-color);
  margin-top: var(--margin-regular);
  @include size();
  @include flexbox(flex-start, center, column, nowrap, 12px);
}
