@use "../../../../styles/Mixins" as *;

.folder-selector {
  border: none;

  background-color: transparent;
  font-size: var(--font-size-small-app);
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-left: -4px;
  color: var(--grey-color);

  &:focus {
    @include remove-border;
  }
}
