@import "../../../../styles/Mixins";

.note-card {
  padding: 12px;
  background-color: var(--secondary-light-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-general);

  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;

  @include size(159px, 159px);
}

.note-card__name {
  font-size: var(--font-size-small-app);
  margin-bottom: 6px;
}

.note-card__content {
  font-size: var(--font-size-xsmall-app);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
