@import "../../../../styles/Mixins";
@import "../../../../styles/Variables";

.dailyquiz__modal {
  min-height: 100vh;
  padding-top: var(--padding-nuvia-header);
  background-color: var(--bg-color);
  z-index: var(--z-indez-quiz);

  position: fixed;
  top: 0;
  left: 0;

  @include size();
  @include flexbox(flex-start, center, column, nowrap, 12px);
}

// Header
.dailyquiz-header__container {
  width: 100%;
  padding: var(--padding-general-items);
  @include flexbox(space-between, center);
}

// Button
.dailyquiz__actions {
  padding-bottom: var(--padding-nuvia-header);
}
// Contenido steps
.dailyquiz__content {
  height: 100%;
  margin-bottom: var(--margin-medium);
}

.step__container {
  text-align: center;
  @include flexbox(center, center, column, nowrap, 24px);
}

.step__tittle {
  margin-top: 24px;
  height: auto;

  h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    padding: 0 24px;
  }
}

// STEP 1
.step1__content {
  @include flexbox(center, center, column, nowrap, 12px);

  .big-icon {
    margin-bottom: 48px;
    @include flexbox(center, center, column, nowrap, 12px);

    img {
      @include size(180px, 180px);
    }

    span {
      font-size: var(--font-size-big);
      font-weight: var(--font-weight-regular);
    }
  }

  .small-icons {
    padding: var(--padding-24);
    @include flexbox(center, center, row, nowrap, 12px);

    .small-icon {
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: var(--border-radius-general);
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      img {
        @include size(55px, 55px);
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
      }

      &.selected {
        border-color: var(--secondary-color);
        box-shadow: var(--box-shadow-general);
        transform: scale(1.1);
      }
    }
  }
}

// Step 2

.activities-list {
  padding-bottom: var(--padding-general);
  overflow: scroll;

  @include size(100%, 450px);
  @include flexbox(center, center, row, wrap, 12px);
}

.activity-item {
  flex-shrink: 0;
  padding: var(--padding-general);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-general);
  border-radius: var(--border-radius-general);

  cursor: pointer;
  border: 1px solid transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  @include size(110px, 130px);
  @include flexbox(flex-start, center, column, nowrap, 6px);

  img {
    @include size(60px, 60px);
  }

  span {
    text-align: center;
    font-size: var(--font-size-xsmall);
    color: var(--grey-color);
  }

  &.selected {
    border-color: var(--secondary-color);
    box-shadow: var(--box-shadow-general);
    transform: scale(1.05);
  }
}

// Step 3
.step3__content {
  margin-top: var(--margin-medium);
  @include column-center(12px);
}
