@import "../../../../styles/Mixins";

.motivation-card {
  max-width: 300px;
  padding: var(--padding-card);
  margin: var(--margin-card);
  background-color: var(--white-color);
  border: var(--border-motivation-card);
  border-radius: var(--border-radius-card);
  transition: var(--transition-card);
  cursor: pointer;
  @include size(auto, 80px);
  @include flexbox(flex-start, center);

  &:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-general);
    border: var(--border-hover);
  }

  &.readonly {
    pointer-events: none;
    border: none;
    box-shadow: var(--box-shadow-general);
  }
}

.motivation-card.selected {
  border: var(--border-hover);
}

// creo que no se usa
/*
.motivations-flex {
  margin-top: 20px;
  padding: 0 16px;
  @include flexbox(space-evenly, stretch, row, wrap, 16px);
}
  */
