.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: var(--margin-32);

  input[type="checkbox"] {
    margin-top: 1px;
    cursor: pointer;
    border-color: var(--grey-color);
  }
}
