@import "../../../../styles/Mixins";
@import "../../../../styles/Variables";

.checkbox-container {
  margin-bottom: $margin-32;
  @include flexbox(center, flex-start, row, nowrap, 0.5rem);

  // Esto que haríamos lo ponemos como clase (?)
  input[type="checkbox"] {
    cursor: pointer;
    margin-top: 1px;
    border-color: $grey-color;
  }
}
