@import "../../../../styles/Mixins";

.terms__container {
  margin-bottom: var(--margin-medium);
  @include flexbox(flex-start, flex-start, row, nowrap, 6px);
}

.terms__checkbox {
  cursor: pointer;
  margin-top: 1px;
  border-color: var(--grey-color);
}

.terms__text {
  @include font-xsmall-medium();

  a {
    color: var(--grey-color);
  }
}
