@use "../../../styles/Mixins" as *;

.month-selector__container {
  width: 100%;
  padding: 12px 30px;
  @include flexbox(center, center, row, nowrap, 26px);
}

.btn-selector {
  border: none;
  background-color: transparent;
}
