@use "../../../styles/Mixins" as *;

.nuvia-header__container {
  padding-top: var(--padding-nuvia-header);
  background-color: var(--bg-color);
}

.profile__header {
  height: 64px;
  padding: var(--padding-general-items);
  @include flexbox(space-between, center);
}

.profile__cloud-icon {
  background-image: url("../../../assets/images/nuvia-clouds.png");
  background-size: cover;
  @include size(50px, 50px);
}

.profile__icons {
  width: 60px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
