@import "../../../../styles/Mixins";

.achievement-card {
  max-width: 300px;
  min-height: 120px;
  padding: var(--padding-12);
  margin-bottom: var(--margin-12);
  background-color: var(--white-color);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-general);
  @include flexbox(flex-start, center);

  &.not-achieved {
    filter: grayscale(100%);
    opacity: 0.6;
  }
}

.achievement-card__text-container {
  padding: var(--padding-12);
  @include flexbox(center, left, column, nowrap, 3px);
}
