@use "./Mixins" as *;

// Avatar Registration (adaptado a dispositivos)
.avatar-image {
  border-radius: var(--border-radius-circle);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: var(--margin-12);
  object-fit: contain;
  cursor: pointer;

  @include size(125px, 125px);

  &:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-general);
  }

  @include desktop {
    @include size(115px, 115px);
  }

  @include tablet {
    @include size(100px, 100px);
  }

  @include mobile {
    margin: 6px;
    @include size(80px, 80px);
  }
}

.avatar-image.selected {
  transform: scale(1.1);
  border: var(--border-avatar);
  box-shadow: var(--box-shadow-general);
}

// Motivation Card Image
.img-motivation-card {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 12px;
}

// =====================
// Achievement Card Images
// =====================
.achievement-card__img {
  width: 70px;
}

.achievement-popup__img {
  width: 200px;
  height: 200px;
}

// =====================
// Photo Gallery
// =====================
.photo-gallery__img {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  @include size(100%, 100%);
}

.photo-gallery-modal__image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: var(--border-radius-general);
  box-shadow: var(--box-shadow-general);
  user-select: none;
}

// =====================
// Mood Analysis
// =====================
.mood-icon__image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
