// Breakpoints - adaptar a dispositivos
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{($breakpoint-mobile + 1)}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet + 1}) {
    @content;
  }
}

// Mixin para asignar ancho y alto
@mixin size($width: 100%, $height: 100vh) {
  width: $width;
  height: $height;
}

// Mixin base para flexbox
@mixin flexbox(
  $justify: flex-start,
  $align: stretch,
  $direction: row,
  $wrap: nowrap,
  $gap: null
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;

  @if $gap != null {
    gap: $gap;
  }
}

// Flexbox con fila y wrap
@mixin row-wrap($gap: 0) {
  @include flexbox(center, center, row, wrap, $gap);
}

// Flexbox con fila y nowrap
@mixin row-spacebetween-nowrap($gap: 0) {
  @include flexbox(space-between, center, row, nowrap, $gap);
}

// Flexbox con columna y centrado
@mixin column-center($gap: 0) {
  @include flexbox(center, center, column, nowrap, $gap);
}

// Flexbox columna, inicio vertical y centrado horizontal
@mixin flex-column-center($gap: 0) {
  @include flexbox(flex-start, center, column, nowrap, $gap);
}

// Flexbox columna, inciio vertical e izquierda vertical
@mixin flex-column-left($gap: 0) {
  @include flexbox(flex-start, left, column, nowrap, $gap);
}

// =====================
// Estilos Generales
// =====================

// Eliminar bordes y outlines
@mixin remove-border {
  border: none;
  outline: none;
}

// Bordes inputs
@mixin input-border($border-color: var(--black-color)) {
  padding: var(--padding-input);
  border: var(--border-form-input);
  border-color: $border-color;
  border-radius: var(--border-radius-general);
  outline: none;
}







// =====================
// Modales
// =====================

// Overlay del modal con fondo oscuro y centrado
@mixin modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0; // equivale a top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: var(--z-index-overlay);

  @include flexbox(center, center);
}

// Contenido del modal con padding, fondo blanco y bordes redondeados
@mixin modal-content {
  max-width: 350px;
  min-height: 500px;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: var(--border-radius-card);
  text-align: center;
  position: relative;

  @include flex-column-center(24px);
}

// =====================
// Vistas Principales y Secundarias
// =====================

// Vista principal con fondo y espaciado estándar
@mixin principal-views($height: 100vh) {
  height: $height;
  background-color: var(--bg-color);
  padding: 12px 24px 100px;
  @include flex-column-center(24px);
}

// Vista secundaria dentro de perfil con espaciado menor
@mixin profile-subviews($height: 100vh) {
  height: $height;
  background-color: var(--bg-color);
  padding: 12px 24px 100px;
  @include flex-column-center(12px);
}

// =====================
// Cards
// =====================

// Propiedades base para tarjetas (cards)
@mixin card-properties(
  $padding: var(--padding-card),
  $border-radius: var(--border-radius-general),
  $gap: 24px
) {
  width: 100%;
  padding: $padding;
  background-color: var(--white-color);
  border-radius: $border-radius;
  box-shadow: var(--box-shadow-general);
  @include flexbox(center, center, column, nowrap, $gap);
}

// Other card properties
@mixin other-card-properties() {
  padding: 24px;
  margin-bottom: 12px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-general);
  border-radius: var(--border-radius-general);
  transition: var(--transition-card);
  cursor: pointer;
}

// =====================
// Mood Analysis
// =====================

// Base para tarjetas de análisis de estado de ánimo con scroll horizontal opcional
@mixin mood-analysis-card__base($wrap) {
  width: 100%;
  padding: var(--padding-12);
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @include flexbox(space-evenly, center, row, $wrap, 24px);
}

// TIPOGRAFÍAS

// Incluido en: Terms Agreement (1)
// cambiar el medium por regular
@mixin font-xsmall-medium($color: var(--grey-color)) {
  color: $color;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
}

// Incluido en AuthForm (2) + AuthCommon (1)
@mixin font-small-black($font-weight: var(--font-weight-regular)) {
  color: var(--black-color);
  font-size: var(--font-size-small);
  font-weight: $font-weight;
}










// Cambios generales tipografía
// No incluido
@mixin text-properties(
  $color: var(--black-color),
  $font-size: var(--font-size-small),
  $font-weight: var(--font-weight-medium)
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}
