@import "./Variables";

body {
  font-family: "Inter", sans-serif;
}

// Landing, registro e inicio de sesión

.nav-span {
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
}

// Registro e inicio de sesión
.form-tittle {
  font-size: var(--font-size-form-tittle);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.form-subtittle {
  font-size: var(--font-size-form-subtittle);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
  margin-top: var(--margin-subtittle);
}

// Terms agreement
.text-termsagreement {
  color: var(--grey-color);
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-medium);
}

.a-termsagreement {
  color: var(--grey-color);
  text-decoration: underline;
  font-weight: 500;
}

// GoToAppModal
.text-gotoapp {
  font-size: var(--font-size-form-subtittle);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
}

.text-gotoapp span {
  font-weight: var(--font-weight-extralight);
}

// App Text
.logo-app {
  font-size: var(--font-size-logo-app);
  font-weight: var(--font-weight-extrabold);
  color: var(--primary-color);
}

.title-bold {
  font-size: var(--font-size-tittle);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tittle);
}

.title-light {
  font-size: var(--font-size-tittle);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-tittle);
}

.subtittle {
  font-size: var(--font-size-subtittle);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-subtittle);
}

.nuvia-header__title {
  font-size: var(--font-size-subtittle);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-tittle);
}

// ************ NUEVO ************
.add-folder__input {
  font-size: $font-size-popup-title;
  font-weight: $font-weight-bold;
}

.add-folder__textarea {
  height: 50px;
  font-size: $font-size-text;
  font-weight: $font-weight-regular;
}

.folder-card__name {
  font-size: 12px;
  font-weight: $font-weight-regular;
  text-align: center;
}

.no-folders-text {
  text-align: center;
  margin: 40px 0;
  font-size: $font-size-tittle-app;
  color: #555;
}

.no-things-text {
  text-align: center;
  margin: 40px 0;
  font-size: $font-size-tittle-app;
  color: #555;
}
