@import "./Mixins";

body {
  font-family: "Inter", sans-serif;
}

// CLASES DEFINITIVAS

// AuthCommon.scss
.auth-form__title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.auth-form__subtitle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
  margin-top: 12px;
}






// CLASES ANTIGUAS
.nav-span {
  @include font-small-black();
}

// =====================
// Motivation Card Text
// =====================
.text-motivation-card {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}



// =====================
// App Text Styles
// Utilizados en Welcome

.logo-app {
  font-size: 20px;
  font-weight: 800;
  color: #838bc5;
}

.title-bold {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.title-light {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
}

.subtittle {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.nuvia-header__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}





// =====================
// Nuevos: Carpetas y Formularios
// =====================
.add-folder__input {
  font-size: 12px;
  font-weight: 700;
}

.add-folder__textarea {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
}

.folder-card__name {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.no-folders-text {
  text-align: center;
  margin: 40px 0;
  font-size: 18px;
  color: #555;
}

// =====================
// Achievement Card
// =====================
.achievement-card__title {
  font-size: 14px;
  font-weight: 700;
}

.achievement-card__subtitle {
  font-size: 12px;
  font-weight: 400;
}

.achievement-popup__tittle {
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
}

.achievement-popup__subtittle {
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
}

.achievement-popup__date {
  margin-top: 20px;
  margin-bottom: 20px;
}

// =====================
// Text for Empty States (pages, folders...)
// =====================
.no-things-text {
  margin: 12px 0;
  font-size: 15px;
  font-weight: 400;
  color: #808080;
  text-align: center;
}

// =====================
// Photo Gallery Modal Close Button
// =====================
.photo-gallery-modal-close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  user-select: none;
}

// =====================
// MoodAnalysis
// =====================
.mood-analysis__title {
  font-size: 18px;
  font-weight: bold;
}

.mood-icon__count {
  font-size: 12px;
}

// NUEVAS TIPOGRAFÍAS
