@import "../../styles/Mixins";
@import "../../styles/Variables";

// Yo creo que podríamos simplificar las clases de los contenedores y notas (notesinsidefolders)

.notes-folder-container {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  padding: $padding-notes-folder;
  @include flex-column-center(12px);
}

.folders {
  width: auto;
  margin-bottom: $margin-bottom-folders;
  @include row-wrap(12px);
}
