@use "../../styles/Mixins" as *;

.notes-folder-container {
  padding-top: var(--padding-12);
  padding: var(--padding-12);
  background-color: var(--bg-color);
  @include size();
  @include flex-column-center(12px);
}

.folders {
  width: 100%;
  margin-bottom: var(--margin-24);
  @include row-wrap(24px);
}
