@import "../../styles/Mixins";

// PENDIENTE SIMPLIFICAR
.notes-folder-container {
  background-color: var(--bg-color);
  padding: var(--padding-general);

  @include size();
  @include flex-column-center(12px);
}

.folders {
  width: auto;
  margin-bottom: var(--margin-12);
  @include row-wrap(12px);
}
