.avatar-registration {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light-color);
  text-align: center;
}

.avatar-container {
  width: 1154px;
  height: 665px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-general);
  border-radius: var(--border-radius-big-popup);
  margin: auto;
  padding: var(--padding-big-popup);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.avatar-flex {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 24px;
}
