@import "../../../../styles/Mixins";

.popup-overlay {
  @include modal-overlay;
}

.popup-content {
  @include modal-content;
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}
