@import "../../../../styles/Mixins";
@import "../../../../styles/Variables";

.popup-overlay {
  @include modal-overlay;
}

.popup-content {
  @include modal-content;
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;

  cursor: pointer;
}

.achievement-tittle {
  font-size: $font-size-popup-title;
  font-weight: $font-weight-bold;
  margin-top: 20px;
}

.achievement-subtittle {
  font-size: $font-size-text;
  font-weight: $font-weight-regular;
  padding: $padding-12;
}

.popup-icon {
  width: 200px;
  height: 200px;
}

.achievement-date {
  margin-top: 20px;
  margin-bottom: 20px;
}
