@import "../../../../styles/Mixins";

.gotoapp__modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: var(--z-index-gotoapp);
  @include size();
  @include column-center();
}

.gotoapp__content {
  text-align: center;
  padding: var(--padding-general);
  border-radius: var(--border-radius-general);
  color: var(--white-color);
}


// Pendiente reubicar (?)
.gotoapp__text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
}

.gotoapp__text span {
  font-weight: var(--font-weight-extralight);
}

.gotoapp__logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
}