@use "../../../../styles/Mixins" as *;
@use "../../../../styles/Variables";

// lo unificamos (?)
.add-note__overlay {
  @include modal-overlay;
}

.add-note__container {
  padding: 48px;
  @include modal-content;
  justify-content: space-evenly;
}

.add-note__content {
  padding: var(--padding-24);

  background-color: var(--secondary-light-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-general);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include size(100%, 300px);
}

.note-info {
  @include flex-column-left(6px);
}

.add-note__textarea,
.add-note__input {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  text-align: left;

  @include remove-border;
}

.add-note__input {
  font-size: 18px;
  font-weight: bold;
}

.add-note__textarea {
  margin-top: 24px;
  height: 130px;
  font-size: 12px;
  font-weight: normal;

  @include font-small-black;
  height: 150px;

  &::placeholder {
    @include font-small-black();
    color: var(--grey-color);
  }
}

.add-note__buttons {
  @include flex-column-center(12px);
}

.hidden {
  display: none;
}

.add-note__file {
  padding: 12px 24px;

  color: var(--grey-color);
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  letter-spacing: var(--btn-spacing);

  cursor: pointer;
}
