@import "../../styles/Mixins";

.profile-container {
  width: 100%;
  background-color: var(--bg-color);
  padding: var(--padding-other-funcionalities);
  @include column-center(24px);
}

// Section Premium Banner
.profile__premium-banner {
  padding: var(--padding-card);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-general);
  color: var(--white-color);

  max-width: 350px;
  @include size(100%, 87px);
  @include row-spacebetween-nowrap();
}

.profile__premium-banner-text {
  gap: 6px;

  h3 {
    font-size: var(--font-size-tittle-app);
    font-weight: var(--font-weight-semibold);
  }

  p {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-light);
  }
}

.profile__premium-banner-icon {
  background-image: url("../../assets/images/nuvia-clouds.png");
  background-size: cover;
  @include size(70px, 70px);
}

// Section Account
.profile__account {
  width: 100%;
  max-width: 350px;
  @include flex-column-left(10px);
}

.profile__text {
  width: 100%;
  display: flex;
  flex-direction: row;

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
  }
}

.profile__user-card {
  padding: var(--padding-card);
  background-color: var(--white-color);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-general);

  @include size(100%, 108px);
  @include row-spacebetween-nowrap();
}

.user-card__text {
  @include row-spacebetween-nowrap(12px);

  span {
    font-size: var(--font-size-tittle-app);
    font-weight: var(--font-weight-semibold);
  }
}

.profile__avatar {
  border-radius: 50%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  @include size(80px, 80px);
}

// Section Records
.profile__records {
  width: 100%;
  max-width: 350px;
  @include flex-column-left(10px);

  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
  }
}

.profile__record-boxes {
  @include row-spacebetween-nowrap(12px);
}

.profile__record {
  padding: var(--padding-card);
  background-color: var(--white-color);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-general);

  @include size(50%, 64px);

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2px;

  p {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
  }

  span {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
  }
}

// Section Nav
.profile__nav {
  width: 100%;
  max-width: 350px;
  @include column-center(12px);
}
