@import "../../styles/Mixins";

.photo-gallery__container {
  padding-top: var(--padding-12);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
}

.photo-gallery__item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-general);
  transition: var(--transition-img);

  &:hover,
  &:focus {
    transform: scale(1.05);
    outline: none;
  }
}
