@use "../../styles/Mixins" as *;

.calendar-container {
  background-color: var(--bg-color);
  padding: var(--padding-views);
  @include size();
  @include flex-column-center(12px);

  .react-calendar {
    min-width: 320px;
    border: none;
    font-size: var(--font-size-big-app);
    @include other-card-properties();
  }
}

// Día de la semana
.react-calendar__month-view__weekdays__weekday {
  abbr {
    text-decoration: none !important;
    font-size: var(--font-size-small-app);
    font-weight: var(--font-weight-bold);
  }
}

// Día de la semana margen
.react-calendar__month-view__weekdays {
  margin-bottom: 12px;
}

// Días
.react-calendar__tile {
  min-height: 80px;
  @include flex-column-center(6px);
}

// Días con entrada
.calendar-tile-has-entry {
  background-color: transparent !important;
  color: var(--black-color) !important;
}

// Fin de semana
.calendar-weekend {
  color: var(--primary-color) !important;
}

// Contenedor para los iconos de mood debajo del día
.calendar-mood-icons-container {
  margin-top: 6px;
  overflow-x: auto;
  @include flexbox(flex-start, center, row, nowrap, 6px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.calendar-mood-icon {
  object-fit: contain;
  @include size(24px, 24px);
}

// Cuando haces click sobre él
.react-calendar__tile--active {
  background: var(--primary-light-color) !important;
  color: var(--primary-color) !important;
  border-radius: var(--border-radius-general);
}
