@import "../../../../styles/Mixins";
@import "../../../../styles/Variables";

.register-grid,
.login-grid {
  display: grid;
  gap: 1rem;
  margin: $margin-72 0;
}



.login-grid {
  grid-template-columns: 1fr;
}

.form-group {
  @include flexbox(column, flex-start, column);
  margin-bottom: 1.5rem;

  // Si el input dentro tiene focus, cambia el color del label
  &:has(input:focus) {
    .form-label {
      color: $primary-color;
    }
  }
}

.form-label {
  font-weight: $font-weight-bold;
  font-size: $font-size-input-label;
  color: $black-color;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 380px;
  height: 50px;
  padding: $padding-input;
  border: $border-form-input;
  border-color: $black-color;
  border-radius: $border-radius-input;
  color: $black-color;
  outline: none;

  &::placeholder {
    font-weight: $font-weight-regular;
    font-size: $font-size-input-label;
    color: $black-color;
  }

  &:focus {
    border-color: $primary-color;

    &::placeholder {
      color: $primary-color;
    }
  }
}
