@import "../../styles/Mixins";

.notes-inside-folder__container {
  background-color: var(--bg-color);
  padding: var(--padding-general);

  @include size();
  @include flex-column-center(12px);
}

.notes-list {
  width: 100%;
  margin-bottom: var(--margin-12);
  @include row-wrap(12px);
}

.notes-inside-folder__buttons {
  @include flex-column-center(12px);
}
