@import "../../styles/Mixins";

.mood-analysis-page {
  min-height: 100vh;
  @include principal-views(100%);
}

.analysis-selector {
  @include flexbox(flex-start, center, row, nowrap, 96px);

  .selected {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.mood-analysis__container {
  max-width: 350px;
  @include card-properties(24px);
}

.mood-analysis-card__flow {
  @include mood-analysis-card__base(nowrap);
}

.mood-analysis-card__ranking {
  @include mood-analysis-card__base(wrap);
}

.mood-icon__container {
  min-width: 80px;
  @include flexbox(center, center, column, nowrap);
}
