@import "../../styles/Mixins";

.welcome__container {
  position: relative;
  overflow: hidden;
  @include size(100vw, 100vh);

  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-light-color);
    z-index: var(--z-index-welcome-bg);
    @include size(100%, 100%);
  }
}

.welcome__content {
  height: 100%;
  position: relative;
  text-align: center;
  padding: var(--padding-welcome);
  z-index: var(--z-index-welcome-content);
  @include flexbox(space-between, center, column);
}

.welcome__text {
  margin-top: var(--margin-xlarge);

  p {
    margin-top: var(--margin-medium);
  }
}

// Animación Girl
.nuvia-girl {
  width: 440px;
  animation: sideimage 4s ease-in-out infinite;
}

@keyframes sideimage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

// Animación Clouds
.cloud {
  position: absolute;
  top: 0;
  height: auto;
  background-image: url("../../assets/images/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  animation: moveCloud linear infinite;
  z-index: 0;
}

.cloud-1 {
  top: 0%;
  width: 45%;
  animation-duration: 30s;
}

.cloud-2 {
  top: 15%;
  width: 70%;
  animation-duration: 80s;
}

.cloud-3 {
  top: 45%;
  width: 30%;
  animation-duration: 50s;
}

.cloud-4 {
  top: 70%;
  width: 100%;
  animation-duration: 85s;
}

@keyframes moveCloud {
  0% {
    left: -50%;
  }
  100% {
    left: 100vw;
  }
}
