@import "../../styles/Mixins";

.welcome__container {
  position: relative;
  overflow: hidden;
  @include size(100vw, 100vh);

  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-light-color);
    z-index: var(--z-index-welcome-bg);
    @include size(100%, 100%);
  }
}

.welcome__content {
  height: 100%;
  position: relative;
  text-align: center;
  padding: var(--padding-welcome);
  z-index: var(--z-index-welcome-content);
  @include flexbox(space-between, center, column);
}

.welcome__text {
  margin-top: var(--margin-xlarge);

  p {
    margin-top: var(--margin-medium);
  }
}

// Animaciones en _Animations.scss
