@use "../../styles/Mixins" as *;

// HERO / SECCIÓN PRINCIPAL
.hero__container {
  position: relative;
  overflow: hidden;
  @include size(100vw, 100vh);
  @include flexbox(space-between, center, column);

  .hero__background-images {
    position: absolute;
    background: var(--bg-color);
    z-index: var(--z-index-welcome-bg);
    @include size(100%, 100%);

    .hero-cloud {
      position: absolute;
      height: auto;
      z-index: 0;
      animation: cloud-float 5s ease-in-out infinite;

      &-1 {
        top: 10%;
        left: 18%;
        width: 10%;
      }
      &-2 {
        top: 13%;
        left: 5%;
        width: 16%;
      }
      &-3 {
        top: 12%;
        right: 5%;
        width: 16%;
      }
      &-4 {
        bottom: 0;
        right: 1%;
        width: 30%;
      }
      &-5 {
        bottom: 2%;
        left: 5%;
        width: 25%;
      }
    }

    @keyframes cloud-float {
      0% {
        transform: translate(0) translateY(0);
      }
      50% {
        transform: translate(0) translateY(-5%);
      }
      100% {
        transform: translate(0) translateY(0);
      }
    }
  }

  // Contenido del hero centrado y con z-index para estar encima del fondo
  .hero__content {
    width: 60%;
    max-width: 1400px;
    margin: auto;

    text-align: center;
    position: relative;
    z-index: var(--z-index-welcome-content);
    @include flexbox(space-between, center, column, nowrap, 24px);

    h1 {
      font-size: clamp(32px, 5vw + 1rem, 80px);
      font-weight: bold;
      line-height: clamp(38px, 4.5vw + 1rem, 75px);
      color: var(--black-color);
    }
  }
}

// Inner Journey Section
.inner-journey {
  background: var(--primary-light-color);
  padding: 48px;
  @include size(100%, 100vh);
  @include flexbox(center, center, row, nowrap, 48px);

  // Contenido de texto
  .text-content {
    max-width: 600px;
    width: 45%;
    @include flexbox(space-between, left, column, nowrap, 24px);
  }

  // Carrusel de imágenes con tamaño fijo
  .inner-journey_carousel {
    max-width: 560px;
    width: 40%;
  }
}

// App Content Section
.app-content-section {
  background: var(--bg-color);
  padding: 48px;
  @include size(100%, 100vh);
  @include flexbox(center, center, column, nowrap, 48px);

  h2 {
    text-align: center;
  }
}

// Download Section
.download-section {
  height: 100%;
  background: var(--primary-light-color);
  @include flexbox(space-between, center, column, nowrap, 0);

  h2 {
    margin-top: 110px;
    text-align: center;
  }

  // Imagen responsive de teléfonos
  .phones img {
    max-width: 600px;
    width: 100%;
  }
}

// Footer
footer {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  padding: var(--padding-header);
  background: var(--primary-light-color);
  color: var(--primary-color);
  font-size: var(--font-size-small);
  margin: 0 auto;
}

// ************** TIPOGRAFÍA **************

.landing-text {
  font-size: clamp(16px, 1.5vw + 0.5rem, 20px);
  line-height: clamp(22px, 1.5vw + 0.5rem, 25px);
  font-weight: normal;
  margin-bottom: 24px;
}

.landing-title {
  max-width: 900px;
  font-size: clamp(28px, 4vw + 0.5rem, 48px);
  font-weight: 400;
  color: var(--primary-color);

  strong {
    font-weight: 400;
    color: var(--primary-color);
  }
}

// ************** MEDIA QUERIES **************

// Tablets grandes (768px a 1024px)
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__content {
    width: 80%;
    max-width: 900px;
  }

  .hero__mockup img {
    height: 250px;
  }

  .inner-journey {
    flex-direction: column;
    padding: 32px;

    .text-content {
      width: 100%;
      max-width: 550px;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .inner-journey_carousel {
      width: 100%;
      max-width: 550px;
      margin-top: 12px;
    }
  }

  .app-content-section {
    height: 100%;

    h2 {
      width: 100%;
      max-width: 600px;
    }
  }

  .download-section {
    h2 {
      width: 90%;
      max-width: 600px;
      margin-top: 80px;
    }
    .phones img {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

// Tablets pequeñas y móvil (menos de 768px)
@media (max-width: 767px) {
  .hero__container {
    height: 70vh;

    .hero__content {
      width: 90%;
      max-width: 400px;
    }

    .hero__mockup img {
      height: 180px;
    }
  }

  .inner-journey {
    height: 80vh;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-content {
      width: 100%;
      max-width: 400px;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .inner-journey_carousel {
      width: 100%;
      max-width: 400px;
    }
  }

  .app-content-section {
    height: 70vh;

    h2 {
      max-width: 400px;
      width: 100%;
    }
  }

  .download-section h2 {
    max-width: 400px;
    width: 100%;
    margin-top: 60px;
  }

  .download-section .phones img {
    max-width: 280px;
    margin: 0 auto;
  }
}
