@import "../../styles/Variables";
@import "../../styles/Mixins";

.login {
  @include flexbox(flex-start, center);
  width: 100%;
  height: 100vh;
}

.login__container {
  @include flexbox(flex-start, stretch, column);
  padding: $padding-64;
}
