@import "../../styles/Variables";
@import "../../styles/Mixins";

.profile-registration {
  @include flexbox(flex-start, center);
  width: 100%;
  height: 100vh;
}

.profile-registration__container {
  @include flexbox(flex-start, stretch, column);
  padding: $padding-64;
}

// Ajustes generales del grid en FormInput.scss

.register-grid {
  grid-template-columns: repeat(2, 1fr);
}
