@import "../../styles/Variables";
@import "../../styles/Mixins";

// ProfileRegistration + Login
.auth-form {
  @include size(); // width: 100%, height: 100vh
  @include flexbox(flex-start, center);
}

.auth-form__container {
  padding: var(--padding-registration);
  @include flexbox(flex-start, stretch, column);
}

.auth-form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: $margin-72 0;
}

.register-grid {
  grid-template-columns: repeat(2, 1fr);
}

.login-grid {
  grid-template-columns: 1fr;
}

// Motivations Registration & Avatar Registration
.auth-form-steps {
  background-color: var(--primary-light-color);
  text-align: center;
  overflow: hidden;
  @include size();
  @include flexbox(center, center);
}

.auth-form-steps__container {
  max-width: 1154px;
  margin: auto;
  padding: var(--padding-registration);
  background-color: var(--white-color);
  border-radius: var(--border-radius-big-popup);
  box-shadow: var(--box-shadow-general);
  @include size(100%, 665px);
  @include column-center(6px);
}

.auth-form-steps__content {
  width: auto;
  margin: var(--margin-24);
  @include flexbox(center, center, row, wrap);
}
