@import "../../../styles/Mixins";

.nav {
  position: fixed;
  bottom: 0;
  left: 0;

  padding: var(--padding-nav);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-nav);
  z-index: var(--z-index-nav);

  @include size(100%, 80px);
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.icon {
  font-size: 26px;
  color: var(--black-color);
  transition: var(--transition-img);
  cursor: pointer;

  @include size(50px, 50px);
  @include flexbox(center, center);
}

.icon.middle-icon .material-symbols-rounded {
  font-size: 32px;
}

.icon.active {
  color: var(--primary-color);
}

// Ajustes para dispositivos
@media (max-width: 430px) {
  .nav {
    height: 70px;
    padding: 10px 30px 25px;
  }

  .icons {
    gap: 20px;
  }

  .icon {
    font-size: 28px;
  }

  .icon.middle-icon .material-symbols-rounded {
    font-size: 30px;
  }
}
